
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;

}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}


nav
{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 25px;
}


a{
    text-decoration: none;
    color: #01403A;

}


p{
    color: #01403A;
}

.container{
    max-width: 1750px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #038C7F;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.4s;
}

.btn:hover{
    background: #01403A;
}

.header{
    background: radial-gradient(white,#d7fffa);
}

.header row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.mini_continer{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.mini_continer h4{
    text-align: center;
}

.mini_continer p{
    text-align: center;
    color: #027368;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.4s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #01403A;
}

.title::after{
    content: '';
    background: #04BFAD;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-4:hover{
    transform: translateY(-5px);
}

.footer{
    background: #012626;
    color: #d7fffa;
    font-size: 14px;
    padding: 30px 0 20px;
}

.footer ul{
    color: #fff; 
}

.footer-1 img{
    max-width: 230px;
    margin-top: 20px;
}

.footer-1, .footer-2, .footer-3, .footer-4{
    min-width: 180px;
    margin-bottom: 20px;
    text-align: center;
    flex-basis:25%;
}

ul{
    list-style-type: none;
}

.footer-2{
    flex-basis: 25%;
}

.footer-3{
    flex: 1;
    text-align: center;
}

.copyright{
    border: none;
    color: #04BFAD;
    text-align: center;
    padding-top: 10px;
}


/* Media Quey for menu to make it 
responsive with smaller screens*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .co-3, .col-4{
        flex-basis: 100%;
    }

    .cart_info p{
        display: none;
    }
}

.Page_num{
    margin: 0 auto 80px;
}

.Page_num span{
    display: inline-block;
    border: 1px solid #038C7F;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.Page_num span:hover{
    background: #038C7F;
    Color: #fff;
}

/*  product section */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

Select{
    border: 1px solid #04BFAD;
    padding: 5px;
}
Select:focus{
    outline:none;
}


/* Cart items details */
.cart_page{
    margin: 80px auto;

}
table{
    width: 100%;
    border-collapse: collapse;
}

.cart_info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #038C7F;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding:5px;
}

td a{
    color: #04BFAD;
    font-size: 12x;
}

td img{
    width: 80px;
}

.total_price{
    display: flex;
    justify-content: flex-end;
}


.total_price table{
    border-top: 3px solid #038C7F;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}


/* account page */
.account_page{
    padding: 50px 0;
    background: radial-gradient(white,#d7fffa);
}

.form_container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0);
    overflow: hidden;
}

.form_container span{  
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form_btn{
    display: inline-block;
}


.form_container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 0.6s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
}

#Log_form{
    left: -300px;
}

#Reg_form{
    left: 0px;
}

form a{
    font-size: 12px;
}

#indicator{
    width: 100px;
    border: none;
    background: #038C7F;
    height: 3px;
    margin-top:8px ;
    transform: translateX(100px);
    transition: transform 0.6s;
}